html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Helvetica', sans-serif;
}

.menu-section-heading {
  margin: 0;
  font-size: 3.75rem;
  font-weight: 100;
}

.menu-hero {
  margin: 0;
  padding: 0;
  position: relative;
}

.menu-title {
  font-size: 3.75rem;
  font-weight: 100;
  color: white;
  margin: 0;
}

.title-box {
  width: 17.813rem;
  height: 11.563rem;
  position: absolute;
  top: calc(50% - 5.7815rem);
  left: calc(50% - 8.9065rem);
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-box--border {
  width: 17.813rem;
  height: 11.563rem;
  position: absolute;
  top: calc(50% - 6.6815rem);
  left: calc(50% - 9.8065rem);
  border: 3px solid #5BACC3;
  background-color: rgba(0, 0, 0, 0);
}

.ui-grey {
  background-color:#393939;
}

.hero-img {
  width: 100%;
  height: 46.875rem;
  object-fit: cover;
  position: center;
  display: block;
}

.menu {
  margin-top: 109px;
}

.menu-nav {
  text-align: center;
  text-transform: uppercase;
}

.menu-nav a {
  padding: 0 0.938rem;
  color: white;
}

.menu-nav li {
  border-left: 3px solid #5BACC3;
}

.menu-section {
  text-align: center;
  padding: 1.25rem 0;
}

.menu-item-title {
  font-weight: 100;
  font-size: 2.063rem;
  margin: 20px 0 0 0;
}

.menu-item-description {
  margin: 0.938rem auto 0 auto;
  left: 0;
  right: 0;
  font-style: italic;
  width: 25%;
  font-size: 1.125rem;
}

.menu-item-price {
  margin-top: 0.938rem;
  color: #5BACC3;
  font-size: 1.313rem;
}

.light-pink {
  background-color: #FFF0ED;
}

.light-grey {
  background-color: #f7f7f7;
}