body {
  font-family: 'Helvetica', sans-serif;
}

ul {
  list-style-type: none;
}

.beans-logo {
  height: 7.5rem;
}

header, footer {
  background-color: #fff0ed;
}

.company-title, .header-section-heading {
  font-size: 3.75rem;
  font-weight: 100;
}

a {
  font-size: 1.313rem;
}

.header-description {
  font-size: 1.125rem;
  width: 325px;
}

.hero-container {
  display: inline-block;
}

.blue-button {
  background-color: #5BACC3;
  color: white;
  text-transform: uppercase;
  width: 11.25rem;
  height: 3.438rem;
  border: none;
  font-size: 1.313rem;
}

.product-item-title, .footer-item-title{
  font-weight: 100;
  font-size: 2.063rem;
}

.product-item-price {
  color: #5BACC3;
  font-size: 2.063rem;
}

.discount-section {
  width: 55vw;
  background-color: rgba(0, 0, 0, 0.85);
}

.discount-text {
  color: white;
  font-size: 2.813rem;
  margin-top: 0;
}