body {
  font-size: 16px;
  font-family: 'Helvetica', sans-serif;
}

ul {
  list-style-type: none;
}

.beans-logo {
  height: 7.5rem;
}

.company-title, .menu-section-heading {
  font-size: 3.75rem;
  font-weight: 100;
}

a {
  font-size: 1.313rem;
}

.menu-title {
  font-size: 3.75rem;
  font-weight: 100;
  color: white;
  margin: 0;
}

.title-box {
  width: 17.813rem;
  height: 11.563rem;
  position: absolute;
  text-align: center;
}

.ui-grey {
  background-color:#393939;
}

.clear {
  border: 0.25rem;
  offset: 0.938rem;
}

.blue-border {
  border-color: #5BACC3;
}

.menu-hero {
  width: 100vw;
  height: 46.875rem;
  object-fit: cover;
  overflow: hidden;
  position: center
}

.menu-nav {
  text-align: center;
  text-transform: uppercase;
}

.menu-nav a {
  text-decoration: none;
  color: white;
}

.menu-section {
  text-align: center;
}

.menu-item-title {
  font-weight: 100;
  font-size: 2.063rem;
}

.menu-item-description {
  font-style: italic;
  width: 25%;
  font-size: 1.125rem;
}

.menu-item-price {
  color: #5BACC3;
  font-size: 2.063rem;

}

.light-pink {
  background-color: #FFF0ED;
}

.light-grey {
  background-color: #f7f7f7;
}